@import url('./theme.light.css');
@import url('./theme.dark.css');

:root {
    --gm-btn-padding-x: 24px;
    --gm-btn-padding-y: 0;
    --gm-btn-font-size: 1rem;
    --gm-btn-font-weight: 400;
    --gm-btn-line-height: 1.5;
    --gm-border-width: 1px;
    --gm-shape-radius-sm: 12px;
    --gm-shape-radius-md: 16px;
    --gm-shape-radius-lg: 20px;
    --gm-shape-radius-xl: 24px;
    --gm-text-shadow-0: none;
    --gm-text-shadow-1: 0 0 0.25rem rgba(0, 0, 0, 0.40);
    --gm-text-shadow-2: 0 0 0.5rem rgba(0, 0, 0, 0.44);
    --gm-text-shadow-3: 0 0 0.75rem rgba(0, 0, 0, 0.48);
    --gm-text-shadow-4: 0 0 1rem rgba(0, 0, 0, 0.52);
    --gm-text-shadow-5: 0 0 1.25rem rgba(0, 0, 0, 0.56);
    --gm-box-shadow-0: none;
    --gm-box-shadow-1: 0 0 0.25rem rgba(0, 0, 0, 0.20);
    --gm-box-shadow-2: 0 0 0.5rem rgba(0, 0, 0, 0.24);
    --gm-box-shadow-3: 0 0 0.75rem rgba(0, 0, 0, 0.28);
    --gm-box-shadow-4: 0 0 1rem rgba(0, 0, 0, 0.32);
    --gm-box-shadow-5: 0 0 1.25rem rgba(0, 0, 0, 0.36);
    --gm-surface-opacity: 0.2;
    --gm-btn-opacity: 0.4;
    --gm-border-opacity: 0.2;
    
}

.light-theme {
    --gm-color-primary: var(--gm-color-primary-light);
    --gm-color-on-primary: var(--gm-color-on-primary-light);
    --gm-color-surface: rgb(var(--gm-color-surface-light) / var(--gm-surface-opacity));
    --gm-color-on-surface: var(--gm-color-on-surface-light);
    --gm-border-color: var(--gm-color-surface);
}

.dark-theme {
    --gm-color-primary: var(--gm-color-primary-dark);
    --gm-color-on-primary: var(--gm-color-on-primary-dark);
    --gm-color-surface: rgb(var(--gm-color-surface-dark) / var(--gm-surface-opacity));
    --gm-color-on-surface: var(--gm-color-on-surface-dark);
    --gm-border-color: var(--gm-color-surface);
}
