@namespace SmiteTools.Components
@inherits RenderComponent

@Component

@code {
    public RenderFragment Component => __builder =>
    {
        <div class="pane grid-cell m-1" @onclick=@(() => Click())>
            <img src=@IconUrl />
            
            <!-- <span class="align-self-center label">//@Name</span> -->
        </div>
    };

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string IconUrl { get; set; }

    [Parameter]
    public Action OnClick { get; set; } = () => { };

    public void Click()
    {
        OnClick?.Invoke();
        Update();
    }

    public void Update()
    {
        StateHasChanged();
    }
}
